@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mono {
  font-family: var(--font-mono);
}

/* Custom Scrollbar for Terminals */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; 
}

::-webkit-scrollbar-thumb {
  background: #424242; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f; 
}